Repository redhat-cop/infra.aap_configuration, pull requests merged in 2023-07, with the labels that each got.

#645 Filetree create schedules instance groups
  .github/workflows/ci_standalone.yml
  roles/filetree_create/tasks/schedules.yml
  roles/filetree_create/templates/current_schedules.j2
Labels: bug

#647 Change lookup to query to ensure list
  changelogs/fragments/change_from_lookup_to_query.yml
  plugins/lookup/controller_object_diff.py
  roles/object_diff/tasks/applications.yml
  roles/object_diff/tasks/credential_types.yml
  roles/object_diff/tasks/credentials.yml
  roles/object_diff/tasks/execution_environments.yml
  roles/object_diff/tasks/groups.yml
  roles/object_diff/tasks/hosts.yml
  roles/object_diff/tasks/instance_groups.yml
  roles/object_diff/tasks/inventories.yml
  roles/object_diff/tasks/inventory_sources.yml
  roles/object_diff/tasks/job_templates.yml
  roles/object_diff/tasks/notification_templates.yml
  roles/object_diff/tasks/organizations.yml
  roles/object_diff/tasks/projects.yml
  roles/object_diff/tasks/roles.yml
  roles/object_diff/tasks/schedules.yml
  roles/object_diff/tasks/teams.yml
  roles/object_diff/tasks/user_accounts.yml
  roles/object_diff/tasks/workflow_job_templates.yml
  tests/configs/differential_items.yml
  tests/configure_controller.yml
  tests/tasks/differential.yml
Labels: bug, new, filetree/object_diff

#648 filetree_create now allows to export objects for the specified organization
  changelogs/fragments/610-filetree_create-now-allows-to-export-objects-for-the-specified-organization.yml
  roles/filetree_create/README.md
  roles/filetree_create/tasks/all.yml
  roles/filetree_create/tasks/applications.yml
  roles/filetree_create/tasks/credentials.yml
  roles/filetree_create/tasks/execution_environments.yml
  roles/filetree_create/tasks/inventory.yml
  roles/filetree_create/tasks/inventory_sources.yml
  roles/filetree_create/tasks/job_templates.yml
  roles/filetree_create/tasks/labels.yml
  roles/filetree_create/tasks/notification_templates.yml
  roles/filetree_create/tasks/organizations.yml
  roles/filetree_create/tasks/projects.yml
  roles/filetree_create/tasks/teams.yml
  roles/filetree_create/tasks/users.yml
  roles/filetree_create/tasks/workflow_job_templates.yml
  roles/filetree_create/templates/current_execution_environments.j2
Labels: enhancement, filetree/filetree_create
