Repository redhat-cop/infra.aap_configuration, pull requests merged in 2025-05, with the labels that each got.

#1069 Update pre-commit
  .pre-commit-config.yaml
Labels: automated pr, pre-commit

#1081 Update pre-commit
  .pre-commit-config.yaml
Labels: automated pr, pre-commit

#1084 Update pre-commit
  .pre-commit-config.yaml
Labels: automated pr, pre-commit

#1091 [RELEASE] Update changelog refs/tags/3.3.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ah_group_doc.yml
  changelogs/fragments/constructed_inv_examples.yml
  changelogs/fragments/dependencies.yml
  changelogs/fragments/fqdn_fix.yml
  changelogs/fragments/gateway_auth_map.yml
  changelogs/fragments/workflow_job_templates.yml
  galaxy.yml
Labels: changelog, automated pr

#1104 Update pre-commit
  .pre-commit-config.yaml
Labels: automated pr, pre-commit

#1112 Ci fix
  .github/files/calculate_change.sh
  .github/workflows/pre-commit.yml
  README.md
  roles/controller_workflow_job_templates/tasks/add_workflows_schema.yml
  roles/gateway_authenticators/README.md
  roles/gateway_organizations/README.md
  roles/gateway_role_user_assignments/README.md
  tests/configure_controller.yml
  tests/configure_controller_export_model.yml
  tests/configure_platform.yml
Labels: pre-commit
